<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.poomoo.homeonline">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <application
        android:name=".application.MyApplication"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoTitleTheme">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.IndexViewPagerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MainNewActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.LogInActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.GetCodeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ChangePassWordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.WebViewActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.MyOrdersActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.MyInfoActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.AddressInfoActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.AddressListActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.JSAndroidActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.FeedBackActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.SafeActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.CommodityInfoActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.CollectActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.ScanHistoryActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.UpdateNickNameActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.SearchActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.ClassifyInfoActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.ClassifyListActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.ConfirmOrderActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.ReFundActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.ReFundInfoActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.EvaluateListActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.EvaluateActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.TicketActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.WebViewDataActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.MyTicketActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.InviteActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.RewardInfoActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.TicketZoneActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.PresentActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.AbroadActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.AbroadGlobalActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.AbroadCountryActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.AbroadCountryInfoActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.AbroadClassifyListActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.WholeSaleUserPowerActivity"
            android:exported="false" />

        <!--图片相关-->
        <activity
            android:name=".ui.activity.pics.ImageGridActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.pics.PhotosActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.pics.PhotoActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.pics.PicViewActivity"
            android:exported="false" />
        <!--图片相关-->

        <!--支付宝相关-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>
        <!--支付宝相关-->

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57f99de867e58ef7c4003982" />
    </application>

</manifest>
